# Compiled Object files
*.slo
*.lo
*.o
*.obj
MAST-init
SolarLnMHD_2F
SolarLnMHD_2F_it
cmhd
SolarLnMHD_2F

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
